@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-404-left, .bg-404-right {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 30vw;
  z-index: -1;
}

.bg-404-left {
  left: 0;
  background: linear-gradient(to right, #ffffff00 0%, #0e0808 100%),
    url('https://suno.com/auras/Aura-06.jpg') no-repeat center center;
  background-size: 30vw 100%;
}

.bg-404-right {
  right: 0;
  background: linear-gradient(to left, #ffffff00 0%, #0e0808 100%),
    url('https://suno.com/auras/Aura-07.jpg') no-repeat center center;
  background-size: 30vw 100%;
}

.text-404-shadow {
  text-shadow: #0e0808 0 0 10px, #0e0808 0 0 15px;
}
